.head {
	display: block;
	width: 100%;
	height: 100px;	
}
	.logo {
		display:block;
		float: left;
		width: 220px;
		height: 100px;
		background-image: url('../images/logo.png');
		margin-left:50px;
	}	
	.tag {
		display:block;
		float: right;
		width: 265px;
		height: 42px;
		background-image: url('../images/tag.png');
		margin: 35px 50px 0 0;
	}

.content-wrapper {
	display: block;
	width: 100%;
	height: 500px;
	border-top: 1px solid green;	
}
	.content {
		display: block;		
		width: 1000px;
		height: 500px;				
		margin: 0 auto;
	}
		.btn-deploy {
		  margin-top: 10px;
		}
		.placeholder {
			width: 1000px;
			height: 450px;
			background-color: #d0d6d0;
			margin-top: 10px;
			padding: 10px;
		}
	